:root {
	--title: JADT;
	--ServerSize: 45px;
}


.root-SR8cQa {
    background: var(--darkgrey);
    position: fixed;
    right: 0;
    height: calc(100vh - 60px);
    top: 60px;
    width: calc(100vw - 338px);
    border-radius: .5em 0 0 0;
    overflow-y: auto;
    animation: opacity .75s ease;
}

.sidebar-2K8pFh .privateChannels-1nO12o header {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 1;
    margin: 0 10px;
    margin-top: -10px;
    margin-bottom: 10px
}

.sidebar-2K8pFh {
    border-radius: .5em 0 0;
    width: 265px
}
