.theme-dark {
	--channels-default: white;
}
.winButtonClose-1HsbF-:after {
    content: var(--Close);
    color: var(--Unavailable);
    text-shadow: 0 0 2px black;
}
.closeButton-1tv5uR:after {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    content: var(--Close);
}
.winButtonClose-1HsbF-:hover::after {
    color: white;
}
.typeWindows-1za-n7>div:nth-child(4):after {
    content: var(--Hide);
    color: rgb(116, 116, 116);
    text-shadow: 0 0 2px black;
}.typeWindows-1za-n7>div:nth-child(3):after {
    content: var(--Resize);
    color: rgb(0, 102, 255);
    text-shadow: 0 0 2px black;
}