:root {
	--Close: "❌";
    --Hide: "➖";
    --Resize: "➕";
	--ServerSize: 45px;
}

.theme-dark {
	--channels-default: white;
}
.winButtonClose-1HsbF-:after {
    content: var(--Close);
    color: var(--Unavailable);
    text-shadow: 0 0 2px black;
}
.closeButton-1tv5uR:after {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    content: var(--Close);
}
.winButtonClose-1HsbF-:hover::after {
    color: white;
}
.typeWindows-1za-n7>div:nth-child(4):after {
    content: var(--Hide);
    color: rgb(116, 116, 116);
    text-shadow: 0 0 2px black;
}.typeWindows-1za-n7>div:nth-child(3):after {
    content: var(--Resize);
    color: rgb(0, 102, 255);
    text-shadow: 0 0 2px black;
}


.container-1r6BKw>.children-19S4PO>.iconWrapper-2OrFZ1>svg, .base-1x0h_U {
    color: white;
}

.buttons-3JBrkn>button:not(.buttonContainer-28fw2U), .containerDefault--pIXnN [class^="mainContent"]>svg, .tutorialContainer-1v44GL>.listItem-2P_4kh>.listItemWrapper-3X98Pc .childWrapper-anI2G9, .homeIcon-tEMBK1>path, .chat-3bRxxu>.title-3qD0b->.children-19S4PO>.iconWrapper-2OrFZ1, .badges-XRnWAp span:after, .panels-j1Uci_ .container-3baos1 .button-14-BFJ svg, .panels-j1Uci_ .container-3baos1 .button-14-BFJ path, .buttons-3JBrkn>button:not(.emojiButton-3uL3Aw) svg.icon-3D60ES:not(.icon-GhnIRB), .connectedAccounts-repVzS svg.connectedAccountOpenIcon-2cNbq5, .header-QKLPzZ .additionalActionsIcon-1FoUlE path, .tooltipPointer-3ZfirK, .buttons-3JBrkn>.buttonContainer-28fw2U>button:not(.emojiButton-3uL3Aw), .chat-3bRxxu>.title-3qD0b->.children-19S4PO>.iconWrapper-2OrFZ1>svg, .closeButton-1tv5uR svg, .title-3qD0b->.children-19S4PO>.iconWrapper-2OrFZ1.focusable-1YV_-H>.icon-22AiRD, .BE-badges:after, .wrapper-1Rf91z .scrollerWrap-2lJEkd>div>div:nth-child(1)>div.listItemWrapper-3X98Pc>div>svg>foreignObject>a>div, .welcomeMessage-ULm0mo .emptyMessage-3-SPAD, .welcomeMessage-ULm0mo .itemContainer-1tq6cd, div[style*="flex: 0 1 323px"], .guildDetail-1nRKNE .channel-2hXUOG svg, .guildIcon-GuAC7C, .listItem-2P_4kh.bd-guild-separator, .closedFolderIconWrapper-15K9MK div, .chatContent-a9vAAp .attachButton-2WznTc>div>svg, .tutorialContainer-1v44GL>.listItem-2P_4kh>.listItemWrapper-3X98Pc svg a>div, .wrapper-2jXpOf[aria-label*="(text channel)"] .content-1x5b-n svg:not(.actionIcon-2Hi9ZG), .content-1x5b-n svg, .inner-MADQqc .attachWrapper-2TRKBi svg, .expandedFolderIconWrapper-1xLaU- svg, svg.flowerStar-1GeTsn, .addButtonIcon-3u-3Hu polygon, .emojiButton-3uL3Aw>div>.sprite-2iCowe, .sidebar-2K8pFh>div.panels-j1Uci_>div>div>button:nth-child(3)>.contents-18-Yxp>svg, .pro-1T8RK7, .tip-2ab612, .total-3tKGEB:after, .footer-1kmXd4, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/store"], .modeUnread-1qO3K1 .unread-2lAfLh, .guildSeparator-3s64Iy, .colorMuted-HdFt4q.size14-e6ZScH.connectCTA-37DS2Y, .or-3THJsp, #bd-settings-sidebar .ui-tab-bar-separator, .userSettingsSecurityImage-21pI_Q, .option-96V44q:after, .option-96V44q.selected-rZcOL-:after, .socialLinks-3jqNFy, .activity-2Gy-9S .icon-15YQ1T, .menu-Sp6bN1>.separator-2zcjq8, .helper-2c73HK, .statusIconText-3b4TkH>div, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/channels/@me"] .content-3QAtGj, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/library"] .content-3QAtGj, .svg-1X37T1>mask, .children-19S4PO:after, .wordmark-2iDDfm, .form-2fGMdU:before, a[href="https://support.discord.com"], .protip-YaFfgO, .base-gE7OpD .ellipsis-19qdx6, .unreadPillCap-3_K2q2 {
    display: none !important;
}

::selection {
    background-color: var(--Highlighted);
}

::-webkit-input-placeholder, ::placeholder, body, button, input, code, select, textarea {
    font-family: var(--font) !important;
    line-height: 1.15;
    color: white !important;
}
.categoryWrapper-UZ5YNj, .appMount-3lHmkl, .container-16j22k {
    background: transparent !important;
    position: fixed;
}

body, .preview-2nSL_2, #user-settings.layer-3QrUeG {
    background: center / cover no-repeat var(--background) !important;
}

.header-ykumBX, .messageGroupWrapper-o-Zw7G, .inset-3sAvek, .autocompleteArrow-Zxoy9H, .autocompleteHeaderBackground-30T70q, .cardPrimary-1Hv-to, .container-1D34oG, .topSectionNormal-2-vo2m, .emptyCard-1RJw8n {
    background: var(--darkgrey5) !important;
}

.container-3Mxszk, .chat-3bRxxu, .peopleList-3c4jOR, .container-1D34oG {
    border-radius: 5px 0 0 0;
    background: var(--ChatBox) !important;
}

.sidebar-2K8pFh {
    background: var(--Sidebar) !important;
}
.iconBackgroundTierNone-3MPhMJ, .iconBackgroundTierOne-2LhaMB, .iconBackgroundTierThree-3qw3JX, .iconBackgroundTierTwo-3bCmdc {
    width: 20px;
    height: 20px;
    border-radius: .25em;
}
.wrapper-35wsBm, .wrapper-3D2qGf, .childWrapper-anI2G9, .container-3ayLPN, .descriptionBox-1EKQKL {
    box-shadow: none;
    background: var(--darkgrey5) !important;
    border-radius: .25em !important;
}

.platform-web .scroller-2TZvBN {
    padding: 0;
}

.scroller-305q3I {
    background-color: transparent;
}

.sidebarScrollable-1qPI87+.content-1rPSz4 {
    max-width: 100%;
}

.typeWindows-1za-n7 {
    background: var(--TitleBG);
    margin: 0;
    z-index: 10;
}

.typeWindows-1za-n7:after {
    text-align: -webkit-center;
    padding: 0;
    width: 100%;
    content: var(--title);
    margin: 0 auto;
}

.tabBarContainer-1s1u-z {
    margin-top: 25px;
    padding: 0;
}

.tabBarItem-1b8RUP {
    font-weight: bold;
    font-size: 16px;
}

.tabBarItem-1b8RUP[style*="color: rgba(255, 255, 255, 0.4);"] {
    color: white !important;
}

.tabBarItem-1b8RUP[style*="color: rgb(255, 255, 255);"], .top-28JiJ- .item-PXvHYJ {
    border: none !important;
    margin: 5px 20px;
}

.activity-1ythUs, .tabBarContainer-1s1u-z, .headerInfo-30uryT {
    display: block;
    text-align: -webkit-center;
}

.profileBadges-2vWUYb {
    margin: 0;
    display: inline-flex;
}

.listItem-2P_4kh.bd-guild.bd-selected>div.blobContainer-239gwq>div>svg {
    border-radius: .5em;
}

.wrapper-3WhCwL {
    padding: 2px;
    transition: 150ms ease all;
    background: var(--darkgrey5);
}

.wrapper-3WhCwL:hover {
    border-radius: .25em;
    text-decoration: none;
    color: #fff
}
.titleName-3-Lp3Z+.subtitle-2UIIw0 {
    margin: 0;
}

.titleName-3-Lp3Z:after, .emptyChannelIcon-cc932w+.header-3uLluP:before {
    margin-left: 65px;
    content: var(--WelcomeMessage);
    font-size: 1.35rem;
    line-height: 1.35rem;
    font-weight: 300;
    display: block;
}

.titleName-3-Lp3Z:after {
    margin-left: 0;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background-color: var(--grey5);
    border-color: white !important;
}