:root {
	--ServerSize: 45px;
}

.theme-dark {
	--channels-default: white;
}

.categoryWrapper-UZ5YNj, .appMount-3lHmkl, .container-16j22k {
    background: transparent !important;
    position: fixed;
}
.wrapper-35wsBm, .wrapper-3D2qGf, .childWrapper-anI2G9, .container-3ayLPN, .descriptionBox-1EKQKL {
    box-shadow: none;
    background: var(--darkgrey5) !important;
    border-radius: .25em !important;
}