/**
 * @name Frosted Glass
 * @author Gibbu#1211 edited by prod1gy#6331
 * @version 2.0.2
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required.
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me/
*/

@import url("https://discordstyles.github.io/FrostedGlass/base.css");

/* BlackBox tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

/* Custom Plugins*/

@import url("https://equalizerr.github.io/justadiscordtheme/css/HoverMemberList.css");
@import url("https://equalizerr.github.io/justadiscordtheme/css/custom.css");

:root {
  --title: "Just a Discord Theme";
  --popout-modal-blur: 10px; /* Blur intensity of --popout-modal-image | Must end in px | DEFAULT: 5px */
  
  /* Home image variables */
  --background-image: url('https://raw.githubusercontent.com/equalizerr/justadiscordtheme/main/akali_background.jpg');
  --background-image-blur: 1px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  --background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */

	/*  MENUS COLORS  */
	--grey: rgb(77, 70, 85);
	--grey5: rgba(77, 70, 85, .5);
	--darkgrey: rgb(18, 18, 18);
	--darkgrey5: rgba(18, 18, 18, .75);
	--TitleBG: var(--darkgrey5);
	--ChatBox: var(--darkgrey5);
	--Sidebar: var(--darkgrey5);
	--SendMessage: var(--darkgrey);
	--HoverMessage: var(--darkgrey5);
	--Highlighted: var(--grey5);
	--ActiveBox: rgb(235 235 235);

  /* Brightness variables */
  --serverlist-brightness: 1; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --left-brightness: 0.4; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --middle-brightness: 0.25; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --right-brightness: 0.75; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  --popout-modal-brightness: 0.75; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */

  /* Gradient variables */
  /*--gradient-primary: 103,58,183; /* DEFAULT: 103,58,183 */
  --gradient-primary: 255,51,159; /* DEFAULT: 103,58,183 */
  --gradient-secondary: 63,81,181; /* DEFAULT: 63,81,181 */
  --gradient-direction: 160deg; /* DEFAULT: 320deg */

  /* Tint variables */
  --tint-colour: 63,81,181; /* Colour of tint | DEAFULT: 255,51,159 */
  --tint-brightness: 0; /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */

  /* Other variables */
  --window-padding: 0px; /* Spacing around the Discord window | DEFAULT: 20px */
  --window-roundness: 5px; /* Roundness of Discord | DEFAULT: 10px */
  --scrollbar-colour: #a33cbc; /* DEFAULT: rgba(255,255,255,0.05) */
  --link-colour: #447499; /* DEFAULT: #00b0f4 */
  --show-gift-gif-buttons: none; /* Show buttons: block | Hide buttons: none | DEFAULT: none */

  /*
    Visit https://fonts.google.com and select one to your liking.
    Now just follow this tutorial: https://imgur.com/a/CNbw7xC
  */
  --font: 'Bahnschrift';
  
  /*Custom buttons*/
  --Close: "❌";
  --Hide: "➖";
  --Resize: "➕";

  /* Do not touch */
  --update-notice-1: none;
}